matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.3
PennyLane==0.31.0
qiskit==1.2.4
qiskit-aer==0.15.1
qiskit-ibmq-provider==0.19.2
qiskit-ignis==0.7.1
qiskit_terra==0.22.3
qutip==4.7.1
scikit_learn==1.1.1
scipy==1.8.1
sympy==1.12
torch==1.12.0
tqdm==4.64.1
pytest==7.4.2
tensorflow==2.9.0



